<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>ArlenUnitTests</string>
  <key>CFBundleIdentifier</key>
  <string>com.arlen.tests.apple.unit</string>
  <key>CFBundleName</key>
  <string>ArlenUnitTests</string>
  <key>CFBundlePackageType</key>
  <string>BNDL</string>
  <key>NSPrincipalClass</key>
  <string>NSObject</string>
</dict>
</plist>
